
.dialog-item {
  padding: 9px;
  border-radius: 10px;
  display: flex;
  position: relative;
  cursor: pointer;
  padding-right: 45px;
  transition: 0.3s background ease;
  outline: none;
}

.dialog-item:hover {
  background: rgba(196, 196, 196, 0.15);
}

.dialog-item.current {
  background: rgba(196, 196, 196, 0.35);
}

.dialog-item .avatar {
  flex-shrink: 0;
}

.dialog-item__info {
  margin-left: 15px;
  padding-top: 3px;
}

.dialog-item__username {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.dialog-item__message {
  color: #464646;
  font-size: 14px;
}

.dialog-item__status-block {
  position: absolute;
  right: 15px;
  top: 10px;
  text-align: right;
}

.dialog-item__check {
  margin-right: 5px;
  position: relative;
  top: -1px;
}

.dialog-item__time {
  font-size: 13px;
  color: #464646;
}

.dialog-item__indicator {
  font-size: 10px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #58adfb;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 0;
  color: #fff;
  font-weight: bold;
}
