.button {
  padding: 11px 55px;
  background: #b98eff;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.3s background ease, 0.3s color ease;
}

.button.button--outline {
  border-color: #b98eff;
  background: #fff;
  color: #2c2c2c;
}

.button.button--outline:hover {
  background: #b98eff;
  color: #fff;
}

.button:hover {
  background: #c391f3;
}
