.dropdown {
  position: relative;

  &__toggle {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1001;
    width: 100vw;
    max-width: 230px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);

    &-item {
      width: 100%;
      background: #fff;

      button {
        padding: 12px 15px;
        width: 100%;
        text-align: left;
        cursor: pointer;
        border: none;
        background: transparent;
      }

      &:hover {
        background: darken($color: #fff, $amount: 3%);
      }
    }
  }
}
