.chat-panel {
  padding-left: 22px;
  padding-right: 22px;
  position: fixed;
  left: 380px;
  height: 100vh;
  overflow: auto;
  top: 0;
  width: calc(100vw - 380px);
  .back-button {
    margin-left: -5px;
  }
}

.chat-panel--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #6b6b6b;
}
.top-bar {
  width: calc(100% - 44px);
  position: absolute;
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d8ef;
}
.top-bar-info {
  display: flex;
  .avatar {
    flex-shrink: 0;
  }
}
.top-bar-info__data {
  margin-left: 15px;
  padding-top: 5px;
}
.top-bar-info__username {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.top-bar-info__lastvisit {
  color: #575757;
  font-size: 14px;
}

.dots-icon {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s background ease;
  cursor: pointer;
  &:hover {
    background: rgba(192, 192, 192, 0.19);
  }
}
.message-bar {
  height: 80px;
  display: flex;
  align-items: center;
  border-top: 1px solid #d1d8ef;
  position: absolute;
  bottom: 0;
  width: calc(100% - 44px);
}
.message-bar__attach {
  cursor: pointer;
  margin-right: 25px;
  position: relative;
  .dropdown {
    bottom: calc(100% + 10px);
  }
}
.message-bar__input-wrap {
  width: 100%;
  display: block;
  position: relative;
}
.message-bar__input {
  width: 100%;
  height: 45px;
  padding-left: 30px;
  padding-right: 75px;
  border-radius: 100px;
  border: none;
  background: #f2f2f2;
  outline: none;
  font-size: 16px;
}
.message-bar__send {
  width: 65px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: 0.3s background ease;
  &:hover {
    background: #e3e3e3;
  }
}
.chat {
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 85px;
  height: calc(100% - 170px);
  overflow: auto;
  width: calc(100% - 44px);
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  &::-webkit-scrollbar {
    display: none;
  }
}

.back-button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  display: none;
}
.back-button__icon {
  display: block;
  max-width: 10px;
}

.settings-wrap {
  .dropdown {
    top: calc(100% - 10px);
  }
}
@media screen and (max-width: 991px) {
  .chat-panel {
    width: calc(100% - 60px);
    left: 60px;
  }
}

@media screen and (max-width: 761px) {
  .chat-panel {
    width: 100%;
    left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100vh;
  }
  .message-bar {
    height: 55px;
    background: #fff;
    width: calc(100% - 30px);
  }
  .top-bar {
    height: 55px;
    width: calc(100% - 30px);
  }
  .top-bar-info__username {
    font-size: 18px;
    margin-bottom: 3px;
  }
  .top-bar-info__lastvisit {
    font-size: 12px;
  }
  .chat {
    width: calc(100% - 30px);
    height: calc(100% - 110px);
    top: 55px;
  }
  .message-bar__input {
    height: 40px;
    padding-right: 60px;
  }
  .message-bar__send {
    height: 40px;
    width: 55px;
    img {
      width: 10px;
    }
  }
  .message-bar__attach {
    margin-right: 15px;
    img {
      width: 20px;
    }
  }
  .back-button {
    display: flex;
  }
}
