
.dialogs-panel {
  width: 320px;
  height: 100vh;
  padding: 35px 10px;
  position: fixed;
  left: 60px;
  top: 0;
  background: linear-gradient(174.98deg, #e8f7ff, #f1dcff);
  z-index: 1000;
}

.search-input-wrapper {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
}

.search-input-wrapper > * {
  flex-grow: 1;
}

.search-input__field {
  width: 100%;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
  transition: 0.3s border-color ease;
}

.search-input__field:focus {
  border-color: #bf8eef;
}


.dialogs__list {
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding-bottom: 45px;
}

.dialogs__list::-webkit-scrollbar {
  display: none;
}
