.avatar {
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b98eff;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}
