.top-bar {
  width: calc(100% - 44px);
  position: absolute;
  top: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d1d8ef;
}

.top-bar-info {
  display: flex;
}

.top-bar-info .avatar {
  flex-shrink: 0;
}

.top-bar-info__data {
  margin-left: 15px;
  padding-top: 5px;
}

.top-bar-info__username {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.top-bar-info__lastvisit {
  color: #575757;
  font-size: 14px;
}

.dots-icon {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  outline: none;
  color: #464646;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s background ease;
  cursor: pointer;
}

.dots-icon:hover {
  background: rgba(192, 192, 192, 0.19);
}

.username-edit-field {
  display: flex;
  width: 100%;
  align-items: center;
}

.username-edit-field__button .button {
  width: 35px;
  height: 35px;
  padding: 0;
  flex-shrink: 0;
  margin-left: 15px;
  border-radius: 50%;
}

.username-edit-field__input {
  width: 100%;
  max-width: 320px;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid #d1d8ef;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}
