.content-view {
  z-index: 1003;
  background: #fff;
  padding: 60px 22px;
}

.content-view__title {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}

.content-view__user {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.content-view__user-name {
  font-size: 24px;
  font-weight: bold;
}

.content-view__avatar.avatar {
  width: 110px;
  height: 110px;
  font-size: 34px;
  margin-right: 15px;
  flex-shrink: 0;
}

.content-view-wrapper {
  max-width: 500px;
}

#profile-form .input-field {
  margin-bottom: 15px;
}
