.dialog-item {
  position: relative;
  display: flex;
  padding: 9px 45px 9px 9px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s background ease;
  &:hover {
    background: rgba(196, 196, 196, 0.15);
  }
  &.current {
    background: rgba(196, 196, 196, 0.35);
  }
  .avatar {
    flex-shrink: 0;
  }
  &__info {
    margin-left: 15px;
    padding-top: 3px;
  }
  &__username {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  &__message {
    color: #464646;
    font-size: 14px;
  }
  &__status-block {
    position: absolute;
    top: 10px;
    right: 15px;
    text-align: right;
  }
  &__check {
    position: relative;
    top: -1px;
    margin-right: 5px;
  }
  &__time {
    font-size: 13px;
    color: #464646;
  }
  &__indicator {
    position: absolute;
    top: 30px;
    right: 0;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    background: #58adfb;
    border-radius: 50%;
  }
}
