.left-panel {
  width: 60px;
  height: 100vh;
  overflow: auto;
  background: #383838;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.left-panel-navs__item {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dadada;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s background ease;
}

.left-panel-navs__item.current {
  background: #484848;
}

.left-panel-navs__item:hover {
  background: #484848;
}

.left-panel-navs__item i.fa {
  font-size: 24px;
}

.left-panel-menu {
  position: fixed;
  display: none;
  left: 60px;
  width: 320px;
  height: 100vh;
  background: #383838;
  top: 0;
  z-index: 1002;
  border-left: 1px solid #464646;
}

.left-panel-menu.opened {
  display: block;
}

.left-panel-menu__logo {
  padding: 10px 15px 0 15px;
  font-size: 36px;
  color: #dadada;
  font-weight: bold;
  margin-bottom: 40px;
}

.left-panel-menu-list {
  padding-left: 0;
  list-style: none;
}

.left-panel-menu-list__item {
  color: #dfdfdf;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s background ease;
  text-decoration: none;
  color: #dfdfdf;
  padding: 12px 15px;
  display: block;
  background: transparent;
  border: none;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.left-panel-menu-list__item.current {
  background: #464646;
}

.left-panel-menu-list__item:not(.current):hover {
  background: #414141;
}

.bars-button {
  width: 35px;
  height: 35px;
  background: transparent;
  border-radius: 4px;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.search-input-wrapper .bars-button {
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 10px;
  color: #383838;
}

.bars-button__icon {
  font-size: 20px;
}
