.search-input-wrapper {
	display: flex;
	width: 100%;
	margin-bottom: 25px;
	>* {
		flex-grow: 1;
	}
	.bars-button {
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 10px;
		color: #383838;
	}
}

.search-input__field {
	width: 100%;
	padding: 10px 15px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 4px;
	transition: 0.3s border-color ease;
	&:focus {
		border-color: #bf8eef;
	}
}