.left-panel {
  width: 60px;
  height: 100vh;
  overflow: auto;
  background: #383838;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}
.left-panel-navs__item {
  background: transparent;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dadada;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s background ease;
  &:hover {
    background: #484848;
  }
  i.fa {
    font-size: 24px;
  }
}
.left-panel-navs__item.current {
  background: #484848;
}
@media screen and (max-width: 761px) {
  .left-panel-navs {
    display: none;
  }
  .left-panel-menu {
    left: 0;
  }
  .left-panel-menu__logo {
    padding-top: 30px;
    font-size: 28px;
  }
  .left-panel-menu-list__item {
    font-size: 14px;
  }
}
