@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.app {
  width: 100vw;
  height: auto;
  overflow: hidden;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

.content-view {
  position: fixed;
  z-index: 1003;
  top: 0;
  left: 380px;
  width: calc(100vw - 380px);
  height: 100vh;
  padding: 60px 22px;
  background: #fff;
  overflow: auto;
}
.content-view__title {
  margin-bottom: 30px;
  font-size: 34px;
  font-weight: bold;
}
.content-view__user {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.content-view__user-name {
  font-size: 24px;
  font-weight: bold;
}
.content-view__avatar.avatar {
  flex-shrink: 0;
  width: 110px;
  height: 110px;
  margin-right: 15px;
  font-size: 34px;
}
.content-view-wrapper {
  max-width: 500px;
}

.form-wrap {
  position: relative;
  top: 10vh;
  width: 100%;
  max-width: 430px;
  padding: 30px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}
.form__title {
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.form {
  .input-block {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.gradient-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(174.98deg, #e8f7ff, #f1dcff);
}
.form__button {
  padding-top: 15px;
  text-align: center;
}
.form__alt {
  padding-top: 15px;
  font-size: 14px;
  color: #535353;
  text-align: center;
  button {
    background: none;
    border: none;
    cursor: pointer;
    color: #6bd3ff;
  }
}

@media screen and (max-width: 991px) {
  .content-view {
    width: calc(100% - 60px);
    left: 60px;
  }
}

@media screen and (max-width: 761px) {
  .content-view {
    width: 100%;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    .form {
      .button {
        margin-top: 15px;
        width: 100%;
      }
    }
  }
  .form-wrap {
    width: 96%;
    margin-top: 50vh;
    transform: translateY(-50%);
    .button {
      width: 100%;
      padding: 11px 30px;
    }
  }

  .content-view__avatar.avatar {
    width: 62px;
    height: 62px;
    font-size: 22px;
  }
  .content-view__title {
    font-size: 28px;
  }
  .content-view__user-name {
    font-size: 20px;
  }
  .content-view__user-email {
    font-size: 14px;
  }
}
