.message-time {
  padding-bottom: 30px;
  padding-top: 30px;
  color: #7a7a7a;
  font-size: 14px;
  text-align: center;
}
.message {
  position: relative;
  display: block;
  max-width: 600px;
  margin-bottom: 15px;
  margin-right: auto;
  background: #f5effa;
  border-radius: 15px;
  border-top-left-radius: 0;
}
.message__content {
  padding: 15px;
  padding-bottom: 30px;
  p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
.message.message--me {
  background: #e8f0f9;
  margin-left: auto;
  margin-right: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
  .message__content {
    padding-right: 65px;
    padding-bottom: 15px;
  }
  .message__status {
    top: 10px;
  }
  .message__indicator {
    line-height: 1.2;
  }
}
.message__status {
  position: absolute;
  right: 15px;
  bottom: 10px;
  text-align: right;
}
.message__time {
  font-size: 12px;
  color: #4e4e4e;
}
.message.message--img {
  display: block;
  padding: 0;
  border: 1px solid #58adfb;
  .message__status {
    bottom: 10px;
    top: auto;
    background: rgba(255, 255, 255, 0.8);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    border-radius: 4px;
  }
  .message__indicator {
    line-height: 0;
  }
  .message__attach {
    border-radius: 15px;
    border-top-left-radius: 0;
    display: block;
    height: auto;
    max-width: 100%;
  }
}
.message.message--img.message--me {
  .message__indicator {
    line-height: 0;
  }
}
.message.message--me.message--img {
  .message__attach {
    border-top-left-radius: 0;
    border-top-right-radius: 15px;
  }
}
@media screen and (max-width: 761px) {
  .message-time {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .message {
    max-width: 90%;
  }
  .message__content {
    font-size: 14px;
  }
}
